@use "../../scss/variables";
@use "../../scss/common";
@use "../../scss/mixins";
@use "../../scss/functions";
@use "../../scss/fonts";

.products-container {
    padding: 3rem 2.5rem 2rem;
    width: 100%;
    &.three-col-layout{
        width: 75%;
        height: 90vh;
        overflow-x: hidden;
        overflow-y: scroll;
         /**Start of responsive scss **/
         @media only screen and (max-width: variables.$mobile-width) {
            width: 100%;
         }
        /**End of responsive scss **/
    }
   
}

.products-list {
    @include mixins.grid(4 , 40px);
     /**Start of responsive scss **/
        @media only screen and (max-width: variables.$mobile-width) {
            @include mixins.grid(1 , 40px);
        }
        /**End of responsive scss **/
    &.three-col-layout{
        @include mixins.grid(3 , 40px);
         /**Start of responsive scss **/
         @media only screen and (max-width: variables.$mobile-width) {
            @include mixins.grid(1 , 40px);
        }
        /**End of responsive scss **/
    }
    .card {
        @include mixins.card(190px, 100%, 0.85rem , 1rem);
        .card-image{
            border-radius: 0px 8px 8px 8px;
        }
    }
    .card-heading {
        @include mixins.flexbox(space-between, center, false);
        font-family: "Primary-Medium";
        .card-title {
            margin : 0.5rem 0;
            @include mixins.text-ellipsis(70%);
        }
        .card-price-container {
            @include mixins.flexbox(false, center, 5px);
            font-size: 0.85rem;
            p{
                font-size: 0.85rem;
            }
        }
    }
    .card-body{
        padding-bottom: 0.5rem;
      
        .card-description{
            font-size: 0.7rem;
            line-height: 20px;
            margin-bottom: 0.5rem;
            color: variables.$text-light;
            font-family: Primary-Regular;
           
        }
        .card-gaurantee-container{
            @include mixins.flexbox(false, center, 5px);
            font-size: 0.85rem;
            color: variables.$green;
            .card-gauranteeText{
                text-transform: uppercase;
                font-family: "Primary-Bold";
                font-size: 0.7rem;
               
            }
        }
       
    }
    .card-footer {
        border-top: 1px solid variables.$light-border;
        @include mixins.flexbox(right, center, false);
        button{
            margin: 0.8rem 0;
           }
    }
}
