@use "../../scss/variables";
@use "../../scss/common";
@use "../../scss/animation";
@use "../../scss/mixins";
@use "../../scss/functions";


.categories-container{
    padding: 3rem 4rem 2rem;
    width: 90%;
    margin: auto;
    .hero-text-container{
        font-family: variables.$font-primary;
        .heading-text{
            font-size: 2.5rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
        .sub-text{
            font-size: 1.85rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
    }
    .categories-list{
        margin: 1.5rem 0;
        @include mixins.flexbox(center, center, 40px);
        .card{
            font-family: variables.$font-primary;
            @include mixins.card(500px ,100% , 1.7rem  , 0.9rem);
            .card-title{
                font-family: "Primary-Regular";
                margin: 0.8rem 0;
            }
           .card-description {
            font-family: "Primary-Regular";
            line-height: 22px;
            color: variables.$text-light;
           }
        }
    }
   
}