/** Start of variables - colors **/
/** End of variables - colors **/
/** Start of variables - fonts **/
/** End of variables - fonts **/
/** Start of responsive variables **/
/** End of responsive variables **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Product Sans", sans-serif;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button, input {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/** Start of mixin flexbox **/
/** End of mixin flexbox **/
/** Start of mixin flexbox **/
@font-face {
  font-family: "Primary-Thin";
  src: url("../assets/fonts/ProductSans-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Primary-Light";
  src: url("../assets/fonts/ProductSans-Light.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Primary-Regular";
  src: url("../assets/fonts/Product-Sans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Primary-Medium";
  src: url("../assets/fonts/ProductSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Primary-Bold";
  src: url("../assets/fonts/Product-Sans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.fetch-error-message {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  height: 80vh;
  font-family: Primary-Regular;
}

.btn {
  border-bottom-right-radius: 0.35rem;
  font-family: Primary-Medium;
}
.btn.btn-xs {
  padding: 0.45rem 0.55rem;
  font-size: 0.58rem;
}
.btn.btn-sm {
  padding: 0.65rem 1.5rem;
  font-size: 0.7rem;
}
.btn.btn-primary {
  background-color: #000000;
  color: #fff;
}
.btn.btn-muted {
  background-color: transparent;
  color: #777575;
}

nav ul li {
  position: relative;
}
nav ul a {
  font-weight: 400;
  font-family: "Product Sans", sans-serif;
}
nav ul a.active::before {
  position: absolute;
  content: "";
  min-width: 65px;
  height: 7px;
  background: #000;
  bottom: -22px;
  left: -5px;
  z-index: 2;
}

.toast {
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 10px 35px 20px 25px;
  box-shadow: 0 5px 40px #000000;
  border-left: 6px solid #000000;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
.toast .toast-content {
  display: flex;
  align-items: center;
}
.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #f7f7f7;
}
.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #222222;
}

.toast.active {
  transform: translateX(0%);
}

.toast-content .check, .toast-content .warning-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: lightblue;
  color: red;
  font-size: 15px;
  border-radius: 50%;
}
.toast-content .message {
  display: flex;
  margin: 0px 20px;
  flex-direction: column;
}

.message {
  color: #222222;
}
.message .text.text-1 {
  font-size: 0.9rem;
  font-family: Primary-Medium;
  margin-bottom: 0.7rem;
}
.message .text.text-2 {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: Primary-Regular;
}

.progress.active:before {
  -webkit-animation: progress 2.5s linear forwards;
          animation: progress 2.5s linear forwards;
}

@-webkit-keyframes progress {
  100% {
    right: 100%;
  }
}

@keyframes progress {
  100% {
    right: 100%;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 2.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  header {
    padding: 1.25rem 1.5rem;
  }
}
header .logo {
  font-size: 1rem;
  font-family: "Primary-Medium";
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
header .logo.col-1 {
  width: 40%;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  header .logo.col-1 {
    width: auto;
  }
}
header .logo a {
  color: #000000;
  letter-spacing: 1.1px;
}
@media only screen and (max-width: 767px) {
  header .logo {
    text-align: center;
  }
}
header .col-2 {
  width: 60%;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  header .col-2 {
    width: auto;
  }
}
header .col-2 .nav-toggle-btn {
  display: none;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  header .col-2 .nav-toggle-btn {
    display: block;
  }
}
header .col-2 .nav-user-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  header .col-2 .nav-user-details {
    display: none;
  }
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 70px;
  justify-content: center;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
header nav ul a {
  font-size: 0.8rem;
  color: #000000;
  font-family: Primary-Medium;
  text-transform: uppercase;
}
header .user-details {
  display: flex;
  gap: 10px;
  font-size: 0.8rem;
  color: #000000;
  font-family: Primary-Medium;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#spinner::after {
  content: "";
  width: 60px;
  height: 60px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #000000;
  border-radius: 100%;
  will-change: transform;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.categories-container {
  padding: 3rem 4rem 2rem;
  width: 90%;
  margin: auto;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  .categories-container {
    padding: 3rem 1rem 2rem;
    width: 90%;
  }
}
.categories-container .hero-text-container .heading-text {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: Primary-Regular;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  .categories-container .hero-text-container .heading-text {
    font-size: 1.65rem;
  }
}
.categories-container .hero-text-container .sub-text {
  font-size: 1.85rem;
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: Primary-Light;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  .categories-container .hero-text-container .sub-text {
    font-size: 1.25rem;
  }
}
.categories-container .categories-list {
  margin: 1.5rem 0;
  display: flex;
  gap: 30px;
  justify-content: center;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  .categories-container .categories-list {
    flex-wrap: wrap;
  }
}
.categories-container .categories-list .card {
  font-family: "Product Sans", sans-serif;
  width: 33%;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
.categories-container .categories-list .card img {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.categories-container .categories-list .card h2 {
  font-size: 1.7rem;
}
.categories-container .categories-list .card p {
  font-size: 0.9rem;
}
@media only screen and (max-width: 767px) {
  .categories-container .categories-list .card {
    flex-wrap: wrap;
    width: 100%;
  }
  .categories-container .categories-list .card img {
    height: 350px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .categories-container .categories-list .card h2 {
    font-size: 1.35rem;
  }
  .categories-container .categories-list .card p {
    font-size: 0.7rem;
  }
}
.categories-container .categories-list .card .card-title {
  font-family: "Primary-Light";
  margin: 0.8rem 0;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  .categories-container .categories-list .card .card-title {
    margin: 0.6rem 0;
  }
  .categories-container .categories-list .card .card-title img {
    height: 350px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .categories-container .categories-list .card .card-title h2 {
    font-size: 1.35rem;
  }
  .categories-container .categories-list .card .card-title p {
    font-size: 0.7rem;
  }
}
.categories-container .categories-list .card .card-description {
  font-family: Primary-Regular;
  line-height: 22px;
  color: #777575;
}
.categories-container .categories-list .card button {
  margin: 0.8rem 0;
}

footer {
  padding: 1rem 4rem;
  background-color: #eeeeee;
  width: 100%;
  font-family: Primary-Light;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  footer {
    padding: 1rem 2rem;
  }
}
footer .container {
  width: 90%;
  margin: 0 auto;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  footer .container {
    width: 100%;
  }
}

.products-container {
  padding: 3rem 2.5rem 2rem;
  width: 100%;
}
.products-container.three-col-layout {
  width: 75%;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  .products-container.three-col-layout {
    width: 100%;
  }
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  .products-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }
}
.products-list.three-col-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  .products-list.three-col-layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }
}
.products-list .card img {
  height: 190px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products-list .card h2 {
  font-size: 0.85rem;
}
.products-list .card p {
  font-size: 1rem;
}
.products-list .card .card-image {
  border-radius: 0px 8px 8px 8px;
}
.products-list .card-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Primary-Medium";
}
.products-list .card-heading .card-title {
  margin: 0.5rem 0;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.products-list .card-heading .card-price-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.85rem;
}
.products-list .card-heading .card-price-container p {
  font-size: 0.85rem;
}
.products-list .card-body {
  padding-bottom: 0.5rem;
}
.products-list .card-body .card-description {
  font-size: 0.7rem;
  line-height: 20px;
  margin-bottom: 0.5rem;
  color: #777575;
  font-family: Primary-Regular;
}
.products-list .card-body .card-gaurantee-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.85rem;
  color: #008800;
}
.products-list .card-body .card-gaurantee-container .card-gauranteeText {
  text-transform: uppercase;
  font-family: "Primary-Bold";
  font-size: 0.7rem;
}
.products-list .card-footer {
  border-top: 1px solid #f4eeee;
  display: flex;
  align-items: center;
  justify-content: right;
}
.products-list .card-footer button {
  margin: 0.8rem 0;
}

.container {
  position: relative;
}

.cart-wishlist-container {
  position: absolute;
  width: 25%;
  background: #f7f7f7;
  height: 92vh;
  right: 0px;
  top: 0px;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  .cart-wishlist-container {
    width: 100%;
  }
}
.cart-wishlist-container .tabs li {
  display: inline-block;
}
.cart-wishlist-container .tab-content {
  display: none;
  line-height: 1.4;
  height: 100%;
}
.cart-wishlist-container .tab-content.active {
  display: inherit;
}
.cart-wishlist-container .tab-content .message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  font-family: "Primary-Regular";
}
.cart-wishlist-container .hide-cart-wishlist-container {
  display: none;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  .cart-wishlist-container .hide-cart-wishlist-container {
    display: block;
    float: right;
    padding: 1rem 1rem 0.5rem;
  }
}
.cart-wishlist-container nav {
  padding: 2.5rem 2rem 0;
}
.cart-wishlist-container nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.cart-wishlist-container nav ul a {
  color: #777575;
  font-size: 0.9rem;
  font-family: "Primary-Light";
}
.cart-wishlist-container nav ul a.active {
  font-family: "Primary-Medium";
  color: #000000;
}
.cart-wishlist-container nav ul a.active::before {
  min-width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0px;
}
.cart-wishlist-container .card {
  background-color: #fff;
  width: 90%;
  margin: 2rem auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px;
  height: 65px;
  border-radius: 0.5rem;
}
.cart-wishlist-container .card img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-wishlist-container .card h2 {
  font-size: 0.7rem;
}
.cart-wishlist-container .card p {
  font-size: 0.65rem;
}
.cart-wishlist-container .card-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  position: relative;
}
.cart-wishlist-container .card-details img {
  border-radius: 0.6rem;
  -o-object-fit: contain;
     object-fit: contain;
  height: inherit;
  position: relative;
  top: 10px;
  left: -20px;
  height: 80px;
}
.cart-wishlist-container .card-details .btn-remove-wishlist-container {
  position: absolute;
  top: 10px;
  right: 10px;
}
.cart-wishlist-container .card-details .btn-remove-wishlist-container .fa-solid {
  font-size: 0.7rem;
  color: #777575;
}
.cart-wishlist-container .card-heading {
  font-family: Primary-Regular;
}
.cart-wishlist-container .card-heading h2 {
  color: #383737;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cart-wishlist-container .card-heading .card-price-container {
  margin: 0.6rem 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
.cart-wishlist-container .card-heading .card-price-container .fa {
  font-size: 0.65rem;
}
.cart-wishlist-container .item-right-section {
  position: absolute;
  right: 10px;
  bottom: 0px;
  top: auto;
  left: auto;
}
.cart-wishlist-container .user-prefered-items {
  height: 70vh;
  overflow: scroll;
  margin-bottom: 3rem;
}
.cart-wishlist-container .user-prefered-items .cart-container, .cart-wishlist-container .user-prefered-items .wishlist-container {
  padding: 0.5rem 2rem;
}

/** Start of variables - colors **/
/** End of variables - colors **/
/** Start of variables - fonts **/
/** End of variables - fonts **/
/** Start of responsive variables **/
/** End of responsive variables **/
/** Start of mixin flexbox **/
/** End of mixin flexbox **/
/** Start of mixin flexbox **/
.quantity-counter {
  background: #fff;
  width: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  font-size: 0.7rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px;
  border-radius: 0.25rem;
}
.quantity-counter button {
  padding: 0.35rem;
}

.checkout-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  padding: 1rem 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout-container .container-heading {
  font-size: 0.7rem;
  font-family: "Product Sans", sans-serif;
}
.checkout-container .total-price {
  font-family: Primary-Light;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}
.checkout-container .total-price .fa {
  font-size: 0.8rem;
}
.checkout-container .total-price .total-amount {
  margin: 5px 0;
}
.checkout-container.d-none {
  display: none;
}
.checkout-container .button-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.orders-list-container {
  padding: 3rem 4rem 2rem;
  background-color: #f7f7f7;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  .orders-list-container {
    padding: 3rem 1rem 2rem;
  }
}
.orders-list-container .container {
  width: 90%;
  margin: auto;
}
.orders-list-container .order-confirmation-message h2 {
  font-family: Primary-Medium;
  font-size: 1.3rem;
  margin: 1rem 0;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  .orders-list-container .order-confirmation-message h2 {
    font-size: 1rem;
  }
}
.orders-list-container .order-confirmation-message p {
  font-family: Primary-Regular;
  color: #222222;
  font-size: 1.1rem;
  margin: 1rem 0 1.5rem;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
@media only screen and (max-width: 767px) {
  .orders-list-container .order-confirmation-message p {
    font-size: 0.9rem;
  }
}

.orders-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  grid-gap: 40px;
  overflow-x: scroll;
}
.orders-list .card {
  width: 380px;
  /**Start of responsive scss **/
  /**End of responsive scss **/
}
.orders-list .card img {
  height: 190px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.orders-list .card h2 {
  font-size: 0.85rem;
}
.orders-list .card p {
  font-size: 1rem;
}
@media only screen and (max-width: 767px) {
  .orders-list .card {
    width: auto;
  }
}
.orders-list .card .card-image {
  border-radius: 0px 8px 8px 8px;
}
.orders-list .card-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Primary-Medium";
}
.orders-list .card-heading .card-title {
  margin: 0.5rem 0;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.orders-list .card-heading .card-price-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.85rem;
}
.orders-list .card-heading .card-price-container p {
  font-size: 0.85rem;
}
.orders-list .card-body {
  padding-bottom: 0.5rem;
}
.orders-list .card-body .card-description {
  font-size: 0.7rem;
  line-height: 20px;
  margin-bottom: 0.5rem;
  color: #777575;
  font-family: Primary-Regular;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}/*# sourceMappingURL=styles.css.map */