@use "../../scss/variables";
@use "../../scss/mixins";

.container {
  position: relative;
}
.cart-wishlist-container {
  position: fixed;
  width: 25%;
  background: variables.$light;
  height: 92vh;
  right: 0px;
  top: 58px;
   /**Start of responsive scss **/
   @media only screen and (max-width: variables.$mobile-width) {
    width: 100%;
  }
  /**End of responsive scss **/
  .tabs li{
    display: inline-block;
  }
  .tab-content{
    display: none;
    line-height:1.4;
    height: 100%;
    &.active{
      display: inherit;
    }
    .message-container{
      @include mixins.flexbox(center, center, false);
      height: inherit;
      font-family: "Primary-Regular";
    }
  }  
  .hide-cart-wishlist-container{
  display: none;
  /**Start of responsive scss **/
  @media only screen and (max-width: variables.$mobile-width) {
    display: block;
    float: right;
    padding: 1rem 1rem 0.5rem;

  }
  /**End of responsive scss **/
  }
  nav {
    padding: 2.5rem 2rem 0;
    ul {
      @include mixins.flexbox(false, center, 30px);
      a {
        color: variables.$text-light;
        font-size: 0.9rem;
        font-family: "Primary-Light";
        &.active{
          font-family: "Primary-Medium";
          color: variables.$black;
          &::before{
            min-width: 100%;
            height: 2px;
            bottom: -5px;
            left: 0px;
          }
        }
      }
    }
  }
  .card {
    @include mixins.card(100px, 100px, 0.7rem, 0.65rem);
    background-color: variables.$white;
    width: 90%;
    margin: 2rem auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px;
    height: 65px;
    border-radius: 0.5rem;
  }
  .card-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    position: relative;
    img {
      border-radius: 0.6rem;
      object-fit: contain;
      height: inherit;
      position: relative;
      top: 10px;
      left: -20px;
      height: 80px;
    }
    .btn-remove-wishlist-container{
      position: absolute;
      top: 10px;
      right: 10px;

      .fa-solid{
          font-size: 0.7rem;
          color: variables.$text-light;
      }
  }
  }
  .card-heading {
    font-family: Primary-Regular;
    h2 {
      color: variables.$mild-black;
      @include mixins.text-ellipsis(70%);
    }
    .card-price-container {
      margin: 0.6rem 0;
      .fa {
        font-size: 0.65rem;
      }
      @include mixins.flexbox(false, center, 5px);
    }
  }
  .item-right-section {
    position: absolute;
    right: 10px;
    bottom: 0px;
    top: auto;
    left: auto;
  }
  .user-prefered-items{
    height: 70vh;
    overflow: scroll;
    margin-bottom: 3rem;
    .cart-container,.wishlist-container{
      padding: 0.5rem 2rem;
    }
  }
  
}

