@use "../../scss/variables";
@use "../../scss/mixins";

.container {
  position: relative;
  .cart-wishlist-container {
    position: fixed;
    width: 25%;
    background: variables.$light;
    height: 92vh;
    right: 0px;
    top: 58px;

    nav {
      padding: 2.5rem 2rem 0;
      ul {
        @include mixins.flexbox(false, center, 20px);
        a {
          color: variables.$text-light;
          font-size: 0.9rem;
        }
      }
    }
    .card {
      @include mixins.card(100px, 100px, 0.7rem, 0.65rem);
      background-color: variables.$white;
      width: 90%;
      margin: 2rem auto;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px;
      height: 65px;
      border-radius: 0.5rem;
    }
    .card-details {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      position: relative;
      img {
        border-radius: 0.6rem;
        object-fit: contain;
        height: inherit;
        position: relative;
        top: 10px;
        left: -20px;
        height: 80px;
      }
      .btn-remove-wishlist-container{
        position: absolute;
        top: 10px;
        right: 10px;

        .fa-solid{
            font-size: 0.7rem;
            color: variables.$text-light;
        }
    }
    }
    .card-heading {
      font-family: Primary-Regular;
      h2 {
        color: variables.$mild-black;
      }
      .card-price-container {
        margin: 0.6rem 0;
        .fa {
          font-size: 0.65rem;
        }
        @include mixins.flexbox(false, center, 5px);
      }
    }
    .item-right-section {
      position: absolute;
      right: 10px;
      bottom: 0px;
      top: auto;
      left: auto;
    }
    .cart-container,.wishlist-container{
      padding: 2.5rem 2rem 0;
    }
  }
}



.tabs li{
  display: inline-block;
}

.tabs li.active{
  background: #e67e22;
  color: #FFF;
}

.tab-content{
  display: none;
  line-height:1.4;
}

.tab-content.active{
  display: inherit;
}