@use  "variables";

.btn{
    border-radius: 0.25rem;
    &.btn-sm{
        padding: 0.8rem 2.5rem;
        font-size: 1.1rem;
        font-weight: 400;
    }
    &.btn-primary{
        background-color: variables.$green;
        color: variables.$white;
    }
    &.btn-muted{
        background-color: variables.$muted;
        color: variables.$black;
    }
   
    
}