@use "variables";

footer{
    padding: 1rem 4rem;
    background-color: variables.$grey;
    width:100%;
    /**Start of responsive scss **/
    @media only screen and (max-width: variables.$mobile-width) {
        padding: 1rem 2rem;
    }
    /**End of responsive scss **/
    .container{
        width: 90%;
        margin: 0 auto;
         /**Start of responsive scss **/
        @media only screen and (max-width: variables.$mobile-width) {
            width: 100%;
        }
        /**End of responsive scss **/
    }
    
}