/** Start of mixin flexbox **/
@mixin flexbox($justify, $align, $gap) {
    display: flex;


    @if $align {
        align-items: $align;
    }

    @if $gap {
        gap: $gap;
    }

    @if $justify {
        justify-content: $justify;
    }
}
/** End of mixin flexbox **/


/** Start of mixin flexbox **/
@mixin card($img-height , $img-width , $title-text , $text-size) {
   img {
    height: $img-height;
    width: $img-width;
    object-fit: cover;
   }
   h2{
    font-size: $title-text;
   }
   p {
    font-size: $text-size;
   }
}


@mixin grid($col-split , $grid-gap) {
    display: grid;
    grid-template-columns: repeat($col-split, 1fr);
    grid-gap: $grid-gap;
}

@mixin  grid-auto-fit ($grid-gap){
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    grid-gap: $grid-gap;
}