/** Start of mixin flexbox **/
@mixin flexbox($justify, $align, $gap) {
    display: flex;


    @if $align {
        align-items: $align;
    }

    @if $gap {
        gap: $gap;
    }

    @if $justify {
        justify-content: $justify;
    }
}
/** End of mixin flexbox **/


/** Start of mixin flexbox **/
@mixin card($img-height , $img-width , $title-text , $text-size) {
   img {
    height: $img-height;
    width: $img-width;
    object-fit: cover;
   }
   h2{
    font-size: $title-text;
   }
   p {
    font-size: $text-size;
   }
   button{
    margin: 0.8rem 0;
   }
   
}


@mixin grid() {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}
