@use "../../../scss/variables";
@use "../../../scss/fonts";
@use "../../../scss/mixins";

.checkout-container{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: variables.$white;
    padding: 1.5rem 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px;
    @include mixins.flexbox(space-between , center , false);
    .container-heading{
        font-size: 0.7rem;
        font-family: variables.$font-primary;
    }
}