@use "../../../scss/variables";
@use "../../../scss/fonts";
@use "../../../scss/mixins";

/*** Start of checkout-container **/
.checkout-container{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: variables.$white;
    padding: 1rem 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px;
    @include mixins.flexbox(space-between , center , false);
    .container-heading{
        font-size: 0.7rem;
        font-family: Primary-Regular;
    }
    .total-price{
        font-family: Primary-Light;
        @include mixins.flexbox(false , center , 5px);
        font-size: 1rem;
        .fa{
            font-size: 0.8rem;
        }
        .total-amount{
            margin: 5px 0;
        }
        
    }
    &.d-none{
        display: none;
    }
    .button-container{
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
/*** End of checkout-container **/