
@use "../../scss/variables";
@use "../../scss/mixins";
@use "../../scss/fonts";
.toast {
	position: absolute;
	top: 25px;
	right: 30px;
	border-radius: 12px;
	background: variables.$white;
	padding: 10px 35px 20px 25px;
	box-shadow: 0 5px 5px variables.$black;
	border-left: 6px solid variables.$black;
	overflow: hidden;
	transform: translateX(calc(100% + 30px));
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
	.toast-content {
		@include mixins.flexbox(false , center , false);
	}
	.progress {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 3px;
		width: 100%;
		background: variables.$light;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			height: 100%;
			width: 100%;
			background: variables.$dark;
		}
	}
}
.toast.active {
	transform: translateX(0%);
}
.toast-content {
	.check , .warning-icon {
		@include mixins.flexbox(center , center , false);
		height: 35px;
		width: 35px;
		background-color: variables.$success-bg;
		color: variables.$white;
		font-size: 15px;
		border-radius: 50%;
	}
	.warning-icon{
		background-color: variables.$warning-bg;
	}
	.message {
		@include mixins.flexbox(false , false , false);
		margin: 0px 20px;
		flex-direction: column;
	}
}
.message {
	color: variables.$dark;
	.text.status-text {
		font-size: 0.9rem;
		font-family: Primary-Medium;
		margin-bottom: 0.7rem;
	}
	.text.message-text {
		font-size: 0.8rem;
		font-family: Primary-Regular;
	}
}
.progress.active {
	&:before {
		animation: progress 2.5s linear forwards;
	}
}
@keyframes progress {
	100% {
		right: 100%;
	}
}